name: Purge AWS RDS DBInstance snapshots
on:
  schedule:
    # Runs at 00:30 and 12:30
    - cron: "30 0,12 * * *"
env:
  GH_TOKEN: ${{ github.token }}
jobs:
  purge_rds_snapshots:
    name: Purge AWS RDS DBInstance snapshots
    runs-on: [ubuntu-latest]
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Purge AWS RDS DBInstance snapshots
        run: |
          ./.github/scripts/purge-aws-rds-snapshots.sh
      - name: Create GitHub issue on failure
        if: ${{ failure() }}
        run: |
          gh issue create --title "Purge AWS RDS DBInstance snapshots workflow failed" \
            --body "Test failed on ${{ github.repository }}. See [workflow logs](${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}) for more details." \
            --repo ${{ github.repository }}
