name: Test Quickstarts

on:
  workflow_dispatch:
  push:
    branches:
      - v0.11
    paths:
      - 'quickstarts/**'
      - 'reference-apps/**'
      - '.github/workflows/**'
  pull_request:
    types: [opened, synchronize, reopened]
    branches:
      - v0.11
    paths:
      - 'quickstarts/**'
      - 'reference-apps/**'
      - '.github/workflows/quickstarts.yaml'

jobs:
  build:
    name: Deploy quickstarts to local environment
    if: github.event.action != 'closed'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Download k3d
        run: wget -q -O - https://raw.githubusercontent.com/k3d-io/k3d/main/install.sh | bash
      - name: Download rad
        run: wget -q "https://get.radapp.dev/tools/rad/install.sh" -O - | /bin/bash
      - name: Init local environment
        run: rad env init dev
      - name: Deploy webapp
        run: |
          rad deploy ./quickstarts/webapp/template.bicep
          rad app delete webapp -y
      - name: Deploy Dapr
        run: |
          rad deploy ./quickstarts/dapr/dapr.bicep
          rad app delete dapr-tutorial -y
      - name: Deploy eShop
        run: |
          cd ./reference-apps/eshop/
          rad app deploy -p "CLUSTER_IP=0.0.0.0" -p "adminPassword=P@ssw0rd4@36"
          rad app delete eshop -y
      - name: Deploy Container Apps Store
        run: |
          cd ./reference-apps/container-app-store/
          rad app deploy --profile dev
          rad app delete store -y
